# Python byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Database
data/*.db
data/news.db

# IDE / Editor settings
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
